# --- Dependencies & Build ---
node_modules/
dist/
build/

# --- Environment Variables ---
.env
.env.local
.env.*

# --- Terraform ---
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# --- Keys & Secrets ---
*.pem
*.key
k3s.yaml
kubeconfig
id_rsa
id_rsa.pub

# --- IDE & OS ---
.vscode/
.idea/
.DS_Store

*.drf
*.bck

.k3s-drf/*