version: '3.8'

services:
  mongo:
    image: mongo:6.0
    container_name: dolciluxe-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  backend:
    build: ./backend
    container_name: dolciluxe-backend
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - MONGO_URI=mongodb://mongo:27017/cake_db
      
      
      - GOOGLE_CLIENT_ID=dummy_id_123456
      - GOOGLE_CLIENT_SECRET=dummy_secret_123456
      - GOOGLE_CALLBACK_URL=/api/auth/google/callback
    depends_on:
      - mongo
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: dolciluxe-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge