apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: https://44.221.83.178:6443
  name: default
contexts:
- context:
    cluster: default
    user: default
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: default
  user:
    client-certificate-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJrVENDQVRlZ0F3SUJBZ0lJT25yVmdiSWNERGt3Q2dZSUtvWkl6ajBFQXdJd0l6RWhNQjhHQTFVRUF3d1kKYXpOekxXTnNhV1Z1ZEMxallVQXhOelkxTnpJME56ZzRNQjRYRFRJMU1USXhOREUxTURZeU9Gb1hEVEkyTVRJeApOREUxTURZeU9Gb3dNREVYTUJVR0ExVUVDaE1PYzNsemRHVnRPbTFoYzNSbGNuTXhGVEFUQmdOVkJBTVRESE41CmMzUmxiVHBoWkcxcGJqQlpNQk1HQnlxR1NNNDlBZ0VHQ0NxR1NNNDlBd0VIQTBJQUJETk94QVhZTGdDanBUZzUKUjAyb2xnT2dKWXBzVDdiT0dPZ3V1eDY4VEZJN3oyYzJ1U1dkbVhEQVZETHA2V0s3K2IvekoyZGhwNHJ1bUVIdApuczdzMUdxalNEQkdNQTRHQTFVZER3RUIvd1FFQXdJRm9EQVRCZ05WSFNVRUREQUtCZ2dyQmdFRkJRY0RBakFmCkJnTlZIU01FR0RBV2dCVGwzWW5MOTEwWXFJOEt0UEFKTWtPTmlreDBtekFLQmdncWhrak9QUVFEQWdOSUFEQkYKQWlCempPbHZIVTlJcnNHV2NLaDRyTVdMQVV2aHdac3BuWk9BQWRnY0tvU21kQUloQUl5QlRNenBwTHhwWllvbgpIbFc4bnFCc1FxdGFPd09JbUZWKzFZS0dBQnJtCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0KLS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJlRENDQVIyZ0F3SUJBZ0lCQURBS0JnZ3Foa2pPUFFRREFqQWpNU0V3SHdZRFZRUUREQmhyTTNNdFkyeHAKWlc1MExXTmhRREUzTmpVM01qUTNPRGd3SGhjTk1qVXhNakUwTVRVd05qSTRXaGNOTXpVeE1qRXlNVFV3TmpJNApXakFqTVNFd0h3WURWUVFEREJock0zTXRZMnhwWlc1MExXTmhRREUzTmpVM01qUTNPRGd3V1RBVEJnY3Foa2pPClBRSUJCZ2dxaGtqT1BRTUJCd05DQUFUNXNqNkZiZzRDcjJkeGtFNllDS0MxdUd5NXJVeWdzOUd3UFB6UDgzRWcKNS9VbVpVWjFKTGkyUGw3aWsvd3crdXhwNkRuM3ZSOGpmYm5XT0hWVlY1d1VvMEl3UURBT0JnTlZIUThCQWY4RQpCQU1DQXFRd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZEJnTlZIUTRFRmdRVTVkMkp5L2RkR0tpUENyVHdDVEpECmpZcE1kSnN3Q2dZSUtvWkl6ajBFQXdJRFNRQXdSZ0loQUlaWmVpUTFLQ0ppREp2Nmd3c2JySWtsL1RBekY4YnIKWXptNGZBc1lFeTllQWlFQWhjUHhIQ1g5RU5WZ0tBTGh4eUhEbUNYc2ozVHYzek5STWwzd1VFN1EzYU09Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
    client-key-data: LS0tLS1CRUdJTiBFQyBQUklWQVRFIEtFWS0tLS0tCk1IY0NBUUVFSUxVWC9TTHBYaVNXdDNad0Z5STJxa3Q3bHN2bkF0NUFVQ2hTbXpBU2o3dmpvQW9HQ0NxR1NNNDkKQXdFSG9VUURRZ0FFTTA3RUJkZ3VBS09sT0RsSFRhaVdBNkFsaW14UHRzNFk2QzY3SHJ4TVVqdlBaemE1SloyWgpjTUJVTXVucFlydjV2L01uWjJHbml1NllRZTJlenV6VWFnPT0KLS0tLS1FTkQgRUMgUFJJVkFURSBLRVktLS0tLQo=
