jenkins:
  systemMessage: "CI/CD Lab Jenkins (Provisioned by Ansible)"
  numExecutors: 2
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "${JENKINS_ADMIN_USER}"
          password: "${JENKINS_ADMIN_PASSWORD}"
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false

unclassified:
  location:
    url: "http://{{ ansible_host }}:{{ jenkins_http_port }}/"

  sonarGlobalConfiguration:
    buildWrapperEnabled: true
    installations:
      - name: "sonarqube" # Sửa thành viết thường để khớp với Jenkinsfile
        serverUrl: "http://sonarqube:9000" # Dùng service name của Docker Compose
        credentialsId: "sonar-token"