apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: grafana
  namespace: {{ monitoring_namespace }}
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
spec:
  ingressClassName: nginx
  rules:
    - host: {{ (grafana_ingress_host | length > 0) | ternary(grafana_ingress_host, ("grafana." ~ hostvars[groups['masters'][0]].ansible_host ~ ".nip.io")) }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: monitoring-grafana
                port:
                  number: 80
