---
# -------------------------------------------------------
# PHẦN DEPLOY APP
# -------------------------------------------------------

# 1. Tự động lấy IP Public
- name: "Detect Public IP of Master Node"
  shell: curl -s ifconfig.me
  register: detected_ip
  changed_when: false
  tags: [deploy, backend, frontend]

- name: "Load encrypted secrets from vault"
  include_vars: "../../../vars/secrets.yml"
  no_log: true
  tags: [deploy, backend, frontend]

# 2. Tạo Secret (Chỉ chạy khi deploy Backend)
- name: "Tạo Kubernetes Secret cho {{ target_service | default('backend') }}"
  kubernetes.core.k8s:
    state: present
    namespace: k3s-app
    kubeconfig: "/etc/rancher/k3s/k3s.yaml"
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ target_service | default('backend') }}-secrets"
      type: Opaque
      stringData:
        CLIENT_URL: "http://{{ detected_ip.stdout }}"
        VNP_RETURN_URL: "http://{{ detected_ip.stdout }}/payment-return"
        MONGO_URI: "{{ vault_mongo_uri }}"
        JWT_SECRET: "{{ vault_jwt_secret }}"
        JWT_REFRESH_SECRET: "{{ vault_jwt_refresh }}"
        SESSION_SECRET: "{{ vault_session_secret }}"
        VNP_TMNCODE: "{{ vault_vnp_tmncode }}"
        VNP_HASHSECRET: "{{ vault_vnp_hash }}"
        GOOGLE_CLIENT_ID: "{{ vault_google_id }}"
        GOOGLE_CLIENT_SECRET: "{{ vault_google_secret }}"
        SENDGRID_API_KEY: "{{ vault_sendgrid_key }}"
  when: target_service is defined and target_service == 'backend'
  tags: [deploy, backend]

# 3. Cập nhật Code mới nhất (Backend/Frontend)
- name: "Cập nhật Deployment (Rolling Update) cho {{ target_service }}"
  kubernetes.core.k8s:
    state: present
    namespace: k3s-app
    kubeconfig: "/etc/rancher/k3s/k3s.yaml"
    definition: "{{ lookup('template', 'deployment.j2') }}"
  vars:
    service_name: "{{ target_service | default('backend') }}"
    app_image_tag: "{{ image_tag | default('latest') }}"
    target_node_role: "{{ 'frontend' if target_service == 'frontend' else 'backend' }}"
  tags: [deploy, backend, frontend]