---
- name: Load secrets (use Ansible Vault in production)
  include_vars: "../../../vars/secrets.yml"
  no_log: true
  tags: [deploy, backend, frontend]

- name: Set public_base_ip (worker-0 public IP for ingress URL)
  set_fact:
    public_base_ip: "{{ hostvars[groups['workers'][0]].ansible_host }}"
  tags: [deploy, backend, frontend]

- name: Set ingress_public_ip (use first worker public IP)
  set_fact:
    ingress_public_ip: "{{ hostvars[groups['workers'][0]].ansible_host }}"

- name: Build services_to_deploy list
  set_fact:
    services_to_deploy: >-
      {{
        (target_service is defined and target_service | length > 0)
        | ternary([target_service], ['backend', 'frontend'])
      }}
  tags: [deploy, backend, frontend]

- name: Create/Update Kubernetes Secret for backend
  kubernetes.core.k8s:
    state: present
    namespace: k3s-app
    kubeconfig: "/etc/rancher/k3s/k3s.yaml"
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "backend-secrets"
      type: Opaque
      stringData:
        CLIENT_URL: "http://{{ ingress_public_ip }}"
        VNP_RETURN_URL: "http://{{ ingress_public_ip }}/payment-return"
        MONGO_URI: "{{ vault_mongo_uri }}"
        JWT_SECRET: "{{ vault_jwt_secret }}"
        JWT_REFRESH_SECRET: "{{ vault_jwt_refresh }}"
        JWT_EXPIRES_IN: "15m"
        JWT_REFRESH_EXPIRES_IN: "7d"
        SESSION_SECRET: "{{ vault_session_secret }}"
        VNP_TMNCODE: "{{ vault_vnp_tmncode }}"
        VNP_HASHSECRET: "{{ vault_vnp_hash }}"
        GOOGLE_CLIENT_ID: "{{ vault_google_id }}"
        GOOGLE_CLIENT_SECRET: "{{ vault_google_secret }}"
        SENDGRID_API_KEY: "{{ vault_sendgrid_key }}"
        GOOGLE_CALLBACK_URL: "http://{{ ingress_public_ip }}/api/auth/google/callback"
  when: "'backend' in services_to_deploy"
  tags: [deploy, backend]

- name: Apply Deployment(s) via template (Rolling Update)
  kubernetes.core.k8s:
    state: present
    namespace: k3s-app
    kubeconfig: "/etc/rancher/k3s/k3s.yaml"
    definition: "{{ lookup('template', 'deployment.j2') }}"
  vars:
    service_name: "{{ item }}"
    app_image_tag: "{{ image_tag | default('latest') }}"
    target_node_role: "{{ 'frontend' if item == 'frontend' else 'backend' }}"
    
    k8s_image_pull_secret: "{{ image_pull_secret | default('') }}"
  loop: "{{ services_to_deploy }}"
  tags: [deploy, backend, frontend]
